{% extends "base.html" %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
  <div class="container mt-header mb-5">
    <div class="row mt-5">
      <div class="col-12 col-xxl-6 d-flex justify-content-center">
        <div><img src="{% static 'img/Cake2.png' %}" alt=""></div>
      </div>
      <div class="col-12 col-xxl-6 d-flex flex-column justify-content-center align-items-center align-items-xxl-start" id="LK">
        {% block lk %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}