{% extends "lk/base_lk.html" %}
{% load static %}
{% block lk %}
    <h1 class="font_Gogh fs_40 cake_blue">Личный кабинет</h1>
    <div class="d-flex w-100 justify-content-center justify-content-xxl-between align-items-center">
        <form method="post" action="/lk/" class="text-center">
        {% csrf_token %}
        {% if form.errors %}
          <p>Данные неверны. Попробуйте еще раз.</p>
        {% endif %}
            <table class="user_info">
                <tr>
                  <td>{{ form.first_name.label_tag }}</td>
                  <td>{{ form.first_name }}</td>
                </tr>
                <tr>
                  <td>{{ form.last_name.label_tag }}</td>
                  <td>{{ form.last_name }}</td>
                </tr>
                <tr>
                  <td>{{ form.phone_number.label_tag }}</td>
                  <td>{{ form.phone_number }}</td>
                </tr>
                <tr>
                  <td>{{ form.address.label_tag }}</td>
                  <td>{{ form.address }}</td>
                </tr>
            </table>
            <button class="btn text-white rounded-pill align-self-end px-5 mt-3 shadow-none cake__button cake__bg_pink">Сохранить</button>
            <br>
          <a class="btn text-white rounded-pill align-self-end px-5 mt-3 shadow-none cake__button cake__bg_pink" href="{% url 'logout' %}">Выйти</a>

        </form>
    </div>
    <h2 class="fs_40 cake_pink mt-5">Мои заказы</h2>
  {% for order in orders %}
    <section class="my-2">
        <span class="cake_blue lk__order d-flex accordion">
            Заказ #{{ order.id }}: Торт {{ order.bake.name }} - {{ order.total }} руб.
        </span>
        <div class="panel">
            <table>
                <tr>
                    <td>Статус:</td>
                    <td>{{ order.get_status_display }}</td>
                </tr>
                <tr>
                    <td>Время доставки:</td>
                    <td>{{ order.delivery_date }} в {{ order.delivery_time }}</td>
                </tr>
                <tr>
                    <td>Уровней:</td>
                    <td>{{ order.bake.level|default:"нет" }}</td>
                </tr>
                <tr>
                    <td>Форма:</td>
                    <td>{{ order.bake.form|default:"нет" }}</td>
                </tr>
                <tr>
                    <td>Топпинг:</td>
                    <td>{{ order.bake.topping|default:"нет" }}</td>
                </tr>
                <tr>
                    <td>Ягоды:</td>
                    <td>{{ order.cake.berries|default:"нет" }}</td>
                </tr>
                <tr>
                    <td>Декор:</td>
                    <td>{{ order.bake.decor|default:"нет" }}</td>
                </tr>
                <tr>
                    <td>Надпись:</td>
                    <td>{{ order.bake.title|default:"нет" }}</td>
                </tr>
            </table>
        </div>
    </section>
  {% empty %}
      <span class="cake_grey">У вас еще нет заказов.</span>
      <p class="cake_grey">Вы можете добавить торт из <a href="/catalog/" class="text-decoration-none cake_pink">Каталога</a> или <a href="/#step3" class="text-decoration-none cake_pink">Создать свой</a>.</p>
      <span class="cake_grey">Есть вопросы?</span>
      <span class="cake_grey">Воспользуйтесь нашим <a href="https://vk.com/devmanorg" class="text-decoration-none cake_pink">чат-ботом</a>.</span>
  {% endfor %}

{% endblock %}