{% extends "lk/base_lk.html" %}
{% load static %}
{% block lk %}
    <h1 class="font_Gogh fs_40 cake_blue">Личный кабинет</h1>
    <div class="d-flex w-100 justify-content-center justify-content-xxl-between align-items-center">
        <form method="post" action="/lk/" class="text-center">
        {% csrf_token %}
        {% if form.errors %}
          <p>Данные неверны. Попробуйте еще раз.</p>
        {% endif %}
            <table class="user_info">
                <tr>
                  <td>{{ form.first_name.label_tag }}</td>
                  <td>{{ form.first_name }}</td>
                </tr>
                <tr>
                  <td>{{ form.last_name.label_tag }}</td>
                  <td>{{ form.last_name }}</td>
                </tr>
                <tr>
                  <td>{{ form.phone_number.label_tag }}</td>
                  <td>{{ form.phone_number }}</td>
                </tr>
                <tr>
                  <td>{{ form.address.label_tag }}</td>
                  <td>{{ form.address }}</td>
                </tr>
            </table>
            <div class="mt-4 text-sm text-gray font-nova">
                Нажимая на кнопку, я даю согласие на обработку и подтверждаю, что ознакомлен с условиями
                <a class="text-blue" target="_blank" href="{%static 'privacy-policy.pdf' %}" rel="noreferrer">
                    политики обработки персональных данных
                </a>.
            </div>

            <button class="btn text-white rounded-pill align-self-end px-5 mt-3 shadow-none cake__button cake__bg_pink">Сохранить</button>
            <br>
          <a class="btn text-white rounded-pill align-self-end px-5 mt-3 shadow-none cake__button cake__bg_pink" href="{% url 'logout' %}">Выйти</a>

        </form>
    </div>
    <h2 class="fs_40 cake_pink mt-5">Мои заказы</h2>
  {% for order in orders %}
    <section class="my-2">
        <span class="cake_blue lk__order d-flex accordion">
            Заказ #{{ order.id }}: Торт {{ order.cake.name }} - {{ order.total }} руб.
        </span>
        <div class="panel">
            <table>
                <tr>
                    <td>Статус:</td>
                    <td>{{ order.get_status_display }}</td>
                </tr>
                <tr>
                    <td>Время доставки:</td>
                    <td>{{ order.delivery_date }} в {{ order.delivery_time }}</td>
                </tr>
                <tr>
                    <td>Уровней:</td>
                    <td>{{ order.cake.level|default:"нет" }}</td>
                </tr>
                <tr>
                    <td>Форма:</td>
                    <td>{{ order.cake.form|default:"нет" }}</td>
                </tr>
                <tr>
                    <td>Топпинг:</td>
                    <td>{{ order.cake.topping|default:"нет" }}</td>
                </tr>
                <tr>
                    <td>Ягоды:</td>
                    <td>{{ order.cake.berries|default:"нет" }}</td>
                </tr>
                <tr>
                    <td>Декор:</td>
                    <td>{{ order.cake.decor|default:"нет" }}</td>
                </tr>
                <tr>
                    <td>Надпись:</td>
                    <td>{{ order.cake.title|default:"нет" }}</td>
                </tr>
            </table>
        </div>
        <aside class="modal fade" id="OrderModal1" tabindex="-1" aria-labelledby="ModalLabel1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title cake_pink" id="ModalLabel1">#45575879537 Торт “Черепаха”</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span class="cake_blue">Уровней: 2</span><br>
                        <span class="cake_blue">Форма: квадрат</span><br>
                        <span class="cake_blue">Топпинг: белый соус</span><br>
                        <span class="cake_blue">Ягоды: безе</span><br>
                        <span class="cake_blue">Декор: нет</span><br>
                        <span class="cake_blue">С днём рождения</span><br>
                        <span class="cake_pink">Цена: 2550₽</span>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <span class="cake_blue">Статус: Выполнен</span>
                        <span class="cake_blue">Время доставки: ?</span>
                    </div>
                </div>
            </div>
        </aside>
    </section>
  {% empty %}
  <span class="cake_grey">У вас еще нет заказов.</span>
  <p class="cake_grey">Вы можете добавить торт из <a href="../index.html#step2" class="text-decoration-none cake_pink">Каталога</a> или <a href="../index.html#step3" class="text-decoration-none cake_pink">Создать свой</a>.</p>
  <span class="cake_grey">Есть вопросы?</span>
  <span class="cake_grey">Воспользуйтесь нашим <a href="https://vk.com/devmanorg" class="text-decoration-none cake_pink">чат-ботом</a>.</span>
  {% endfor %}

{% endblock %}